Options -MultiViews
RewriteEngine On
RewriteBase /

# Jika file/dir tidak ditemukan, redirect ke index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]
